




<body>
<title>Host&Guest Newsletter</title>


<div class="panel style1 arrow-right">
    <h4 class="panel-title">
        <a data-toggle="collapse" href="#accomodation-type-filter" class="collapsed">Accomodation Type</a>
    </h4>
    <div id="accomodation-type-filter" class="panel-collapse collapse">
        <div class="panel-content">
            <ul class="check-square filters-option">
                <li><a href="#">All<small>(722)</small></a></li>
                <li><a href="#">Hotel<small>(982)</small></a></li>
                <li><a href="#">Resort<small>(127)</small></a></li>
                <li class="active"><a href="#">Bed &amp; Breakfast<small>(222)</small></a></li>
                <li><a href="#">Condo<small>(158)</small></a></li>
                <li><a href="#">Residence<small>(439)</small></a></li>
                <li><a href="#">Guest House<small>(52)</small></a></li>
            </ul>
            <a class="button btn-mini">MORE</a>
        </div>
    </div>
</div>

</body>

