{%  extends '::master_back.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
<div class="col-lg-5">

{{ form_start(form) }}

{{ form_end(form) }}
</div>

{%  endblock %}